@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}

html,
body {
    color: #1b1b1b;
    font: 100% Emilys Candy, sans-serif;
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.pbox{
    height: 30%;
    background: #FFF4FF;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 20px;
    justify-content: right;
    display: inline;
    color: #696666;
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    margin-bottom: 20px;
    top: 0;
  }

  .pbox1{
    position: relative;
    width: 100%;
    height: 10%;
    background: #FFF4FF;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 50px;
    justify-content: center;
    text-align: center;
    color: #696666;
  }

.topnav {
    float: left;
    margin-top: 58px;
    width: 100%;
    background-color: #7CB6B2;
    font-weight: bold;
    
}

/* Style the topnav links */
.topnav a {
    float: left;
    display: block;
    color: #334B4A;
    text-align: center;
    padding: 5px 16px;
}

/* Change color on hover */
.topnav a:hover {
    background-color: #EEFCFB;
    color: #273B3A;
  
}

/* On screens that are 600px wide or less, make the menu links stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .topnav a {
        float: none;
        width: 100%;
    }
}

.header {
    position: absolute;
    top: 0;
    background-color: #D7F0EE;
    height: 10%;
    width: 100%;
}

.logo {
    position: relative;
    font-weight: bold;
    color: #273B3A;
    text-align: center;
    display: block;
    margin-top: 2%;
}

@media screen and (max-height: 500px) and (min-height: 200px) {
    .logo {
        font-size: 80%;
        font-weight: 200;
        border-width: 1.5px;
        margin-left: -3px;
    }
}

@media screen and (max-height: 700px) and (min-height: 500px) {
    .logo {
        font-size: 145%;
        font-weight: 650;
        border-width: 4px;
        margin-left: -7px;
    }
}

@media screen and (max-height: 900px) and (min-height: 700px) {
    .logo {
        font-size: 160%;
        font-weight: 600;
    }
}

.container {
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    position: relative;
    overflow: hidden;
    width: 450px;
    height: 700px;
    max-width: 100%;
    min-width: 250px;
    min-height: 480px;
    justify-content: center;
}

.form-container {
    position: absolute;
    height: 100%;
}

.profile_container {
    position: relative;
    height: 100%;
    overflow: hidden;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    text-align: center;
    
}

.container_usered {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 100%;
    height: 700px;
    max-width: 600px;
    min-width: 200px;
    min-height: 450px;
    justify-content: center;
}

.form-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.container_courses {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    overflow: hidden;
    width: 100%;
    height: 700px;
    max-width: 600px;
    min-width: 200px;
    min-height: 450px;
    justify-content: center;
}

.container1 {
    max-width: 2000px;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    height: 100%;
    margin-top: 0px;
    text-align: center;
}

.form_courses {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    height: 100%;
    text-align: center;
    width: 100%;
}

.form_usered {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 20px;
    height: 100%;
    width: 100%;
}


h1 {
    font-weight: bold;
    margin-bottom: 10px;
    top: 2px;
}

h2{
    margin: 40px;
}


.image{
    justify-content: left;
}

h3 {
    margin: 20px;
    color: rgba(0, 0, 0, 0.7);
    width: 200px;
}



.tag {
    font-size: 18px;
    font-weight: bold;
    color: #494949;
    text-align: left;
    margin-left: 10px;
    margin-bottom: 20px;
}

li{
    margin-bottom: 5px;
    text-align: left;
}

ul{
    margin-top: 40px;
}

.info {
    font-size: 16px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin-left: 10px;
    margin-bottom: 20px;
    font-style: italic; 
}

.m {
    margin: 8px;
    font-weight: bold;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    margin: 10px 0;
    font-weight: bold;
}

.butt{
    justify-content: center;
}

button {
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    align-items: center;
    background: #E4EAFF;
    border: 2px solid #B2BDE5;
    border-radius: 20px;
    line-height: 5px;
}

button:hover{
    background: #B2BDE5;;
}


input[type=text], input[type=password], input[type=number], select {
    width: 100%;
    display: inline-block;
    background-color: #FFF4FD;
    border: 2px solid #FFE1EE;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 35px;
    color: #4A6361;
    margin-bottom: 10px;
  }

  input[type=date]{
    width: 35%;
    display: inline-block;
    background-color: #FFF4FD;
    border: 2px solid #FFE1EE;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #4A6361;
    margin: 0 13px 10px 13px;
  }

.duration{
    width: 100%;
    justify-content: left;
    display: inline;
}  

.text_usered{
    position: relative;
    width: 100%;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
    color: #4A6361;
    text-align: left;
}

.table_row1{
    background-color: #FFF6FF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.table_row2{
    background-color: #F4ECFF;
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.25), 0 1px 1px rgba(0, 0, 0, 0.22);
}

.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
}

.responsive-table .table-header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}


.responsive-table  {
    background-color: #ffffff;
    box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.1);
}

.responsive-table .column-1 {
    flex-basis: 15%;
}

.responsive-table .column-2 {
    flex-basis: 20%;
}

.responsive-table .column-3 {
    flex-basis: 25%;
}

.responsive-table .column-4 {
    flex-basis: 15%;
}

.responsive-table .column-5 {
    flex-basis: 17%;
}

.responsive-table .c1 {
    color: white;
}

@media all and (max-width: 767px) {
    .responsive-table .table-header {
        display: none;
    }

    .responsive-table li {
        display: block;
    }

    .responsive-table .column {
        flex-basis: 100%;
    }

    .responsive-table .column {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table .column:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

.responsive-table1 li {
    border-radius: 3px;
    padding: 25px 30px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    border-bottom: 2px solid #ddd;
}

.responsive-table1 .table-header {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
}


.responsive-table1 .column-1 {
    flex-basis: 20%;
}

.responsive-table1 .column-2 {
    flex-basis: 30%;
}

.responsive-table1 .column-3 {
    flex-basis: 25%;
}

.responsive-table1 .column-4 {
    flex-basis: 25%;
}

.responsive-table1 .c1 {
    color: white;
}

@media all and (max-width: 767px) {
    .responsive-table1 .table-header {
        display: none;
    }

    .responsive-table1 li {
        display: block;
    }

    .responsive-table1 .column {
        flex-basis: 100%;
    }

    .responsive-table1 .column {
        display: flex;
        padding: 10px 0;
    }

    .responsive-table1 .column:before {
        color: #6C7A89;
        padding-right: 10px;
        content: attr(data-label);
        flex-basis: 50%;
        text-align: right;
    }
}

   
select {
    font: 100% Montserrat, sans-serif;
    padding: 3px 8px;
    width: 320px;
    border: 1px solid #C7C7C7;
    border-radius: 6px;
    margin-bottom: 20px;
}

.select1 {
    width: 90%;
    margin-top: 10px;
}

select option {
    padding: 6px 11px;
}

select option:first-child {
    color: #C7C7C7;
}

.alert {
    padding: 20px;
    background-color: #f44336;
    color: white;
    opacity: 1;
    transition: opacity 0.6s;
    margin-bottom: 15px;
    height: 50px;
    line-height: 10px;
  }

.danger{
    margin-top: 10px;
    height: 60px;
    line-height: 12px;
}

  .alert.warning {background-color: #ff9800;}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 0px;
    cursor: pointer;
    transition: 0.3s;
}
  
.closebtn:hover {
    color: black;
}  
  
.columna {
    float: left;
    padding: 10px;
  }
  
  h4{
    color: #ADA7CB;
    text-transform: uppercase;

  }

  /* Left and right column */
  .columna.side1 {
    width: 35%;
    color: #484554;
    font-size: 18px;
  }
  .columna.side2 {
    width: 15%;
    height: 100%;
    background-color: #F4ECFF;
    color: #484554;
    font-size: 18px;
  }
  
  /* Middle column */
  .columna.middle {
    width: 50%;
    color: #484554;
    font-size: 18px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  a:hover{
      color: #ADA9BB;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
    .columna.side, .columna.middle {
      width: 100%;
    }
  }