<!DOCTYPE html>
<html>
    <head>  
        <title>Courses</title>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style2.css" />
        <body id="courses">
    </head>  
    <body>
    <div class="header">
        <p class="logo">EasyEnglish</p>
    </div>
    <div class="topnav">
        <a href="courses.html">Courses</a>
        <a href="lecturers.html">Lecturers</a>
        <a href="profile.html">Profile</a>
        <a href="about_us.html">About us</a>
        <a href="create_course.html">Create course</a>
        
    </div>
    <div class="pbox1">Our school</div>
    <div class="row">
        <div class="columna side1">
          <p><img src="our_school.jpg" alt="our_school" width="100%" height="100%"></p>
        </div>
        
        <div class="columna middle">
          <h4>About us</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas sit amet pretium urna. Vivamus venenatis velit nec neque ultricies, eget elementum magna tristique. Quisque vehicula, risus eget aliquam placerat, purus leo tincidunt eros, eget luctus quam orci in velit. Praesent scelerisque tortor sed accumsan convallis.</p>
        </div>
        
        <div class="columna side2">
          <h4>Useful links</h4>
          <p><a href="privacy-policy.html">privacy-policy</a></p>
          <p><a href="contact_us.html">contact us</a></p>
          <p><img src="logo.png" alt="logo" margin="40px 10px" width="135px" height="100%"></p>
        </div>
      </div>
        
      </body>
      </html>
      