<!DOCTYPE html>
<html>
    <head>  
        <title>Profile</title>  
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style2.css" />
        <body id="create_course">
    </head>  
    <body>
    <div class="header">
        <p class="logo">EasyEnglish</p>
    </div>
    <div class="topnav">
        <a href="courses.html">Courses</a>
        <a href="lecturers.html">Lecturers</a>
        <a href="profile.html">Profile</a>
        <a href="about_us.html">About us</a>
    </div>
    <section class="container">
        <div class="container_usered form-container">
            <form action="edit_user.html" class="form_usered">
          <h1>Create course</h1>
          <div class="alert warning">
            <span class="closebtn">&times;</span>  
            <strong>Warning!</strong> You must be a lecturer to add course.
          </div>
          
                <label for="cname" class="text_usered">Course Name</label>
                <input type="text" id="cname" name="coursename" placeholder="Type your course name here..">
                <div class="duration">
                <label for="duration" class="text_usered">Duration</label>
                <input type="date" id="duration" name="duration" >-<input type="date" id="duration" name="duration" >
                </div>
                <label for="lname" class="text_usered">Lecturer Name</label>
                <input type="text" id="lname" name="lecturername" placeholder="Type your lecturer`s name here..">
                <label for="number" class="text_usered">Max count of students</label>
                <input type="number" id="number" name="maxnumber" placeholder="Type max count of students here..">
        <button type="submit"  onclick="location.href='profile.html'">Edit</button>
        <button type="button"  onclick="location.href='profile.html'">Back</button>
         
        </form>
        </div>
      </section>
      <script>
        var close = document.getElementsByClassName("closebtn");
        var i;
        
        for (i = 0; i < close.length; i++) {
          close[i].onclick = function(){
            var div = this.parentElement;
            div.style.opacity = "0";
            setTimeout(function(){ div.style.display = "none"; }, 600);
          }
        }
    </script>   
      </body>
      </html>