@import url("https://fonts.googleapis.com/css?family=Montserrat:400,800");

* {
    padding: 0;
    margin: 0;
}

html,
body {
    color: #1b1b1b;
    font: 100% Emilys Candy, sans-serif;
    min-height: 100%;
    height: 100%;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.header {
    position: absolute;
    top: 0;
    background-color: #D7F0EE;
    height: 10%;
    width: 100%;
}

.logo {
    position: relative;
    font-weight: bold;
    color: #273B3A;
    text-align: center;
    display: block;
    margin-top: 2%;
}

@media screen and (max-height: 500px) and (min-height: 200px) {
    .logo {
        font-size: 80%;
        font-weight: 200;
        border-width: 1.5px;
        margin-left: -3px;
    }
}

@media screen and (max-height: 700px) and (min-height: 500px) {
    .logo {
        font-size: 145%;
        font-weight: 650;
        border-width: 4px;
        margin-left: -7px;
    }
}

@media screen and (max-height: 900px) and (min-height: 700px) {
    .logo {
        font-size: 160%;
        font-weight: 600;
    }
}

h1 {
    font-weight: bold;
    margin-bottom: 10px;
    top: 2px;
}

h2 {
    text-align: center;
    margin: 25px;
}

p {
    font-size: 14px;
    font-weight: 100;
    line-height: 20px;
    letter-spacing: 0.5px;
    margin: 20px 0 30px;
}

a {
    color: #333;
    font-size: 14px;
    text-decoration: none;
    
}

button {
    background: #E4EAFF;
    border: 2px solid #B2BDE5;
    border-radius: 20px;
    color: #333;
    font-size: 12px;
    font-weight: bold;
    padding: 12px 45px;
    margin-top: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    
}

form {
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 60px;
    height: 100%;
    margin-top: 20px;
    text-align: center;
}

input {
    background-color: #FFF4FD;
    border: 2px solid #FFE1EE;
    padding: 12px 15px;
    margin: 10px 0;
    width: 100%;
}

.container {
    position: relative;
    overflow: hidden;
    width: 450px;
    max-width: 100%;
    min-width: 250px;
    min-height: 460px;
    margin-top: 15%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 18px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    
}

.form-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

.containerr {
    position: relative;
    overflow: hidden;
    width: 650px;
    height: 630px;
    max-width: 100%;
    min-width: 250px;
    min-height: 480px;
    margin-top: 12%;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.form-containerr {
    position: absolute;
    height: 100%;
    width: 100%;
}

input[type=text], input[type=password], input[type=number], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #FFE1EE;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 10px;
    color: #4A6361;
    
  }

.text_register{
    position: relative;
    width: 100%;
    font-family: Emilys Candy;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 15px;
    color: #4A6361;
    text-align: left;
}

.input_box{
    position: relative;
    width: 13.5px;
    height: 13.5px;
    background: #FFFFFF;
    margin-top: 1px;
    border: 1px solid #000000;
    box-sizing: border-box;
    align-items: left;
    text-align: left;
}